//
//  DebugTeam.xcconfig
//  adeste
//
//  Created by Somaiya on 05/09/1447 AH.
//

// Include personal signing settings (gitignored)
#include "../../Config/Local.xcconfig"

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
PRODUCT_BUNDLE_IDENTIFIER = adeste.app.DeviceActivityMonitor
