//
//  Release.xcconfig
//  adeste
//
//  Created by Somaiya on 05/09/1447 AH.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
PRODUCT_BUNDLE_IDENTIFIER = adeste.app.DeviceActivityMonitor
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = CATUKJ98AS
